@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
    #main_card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }
}


